* {
  box-sizing: border-box;
  /* font-family: "Helvetica Neue" */
}

input,
select {
  font-family:'Courier New';
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.door {
  position: absolute;
  top: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #303452;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  overflow: hidden;
  transition: transform 0.3s ease-out;
  transform: scaleY(1);
  transform-origin: top;
}

.door.collapse {
  transform: scaleY(0);
}

.open {
  color: white;
}

.open.hidden {
  display: none;
}

.open:hover {
  cursor: pointer;
  color: #cecece;
}

.title {
  font: 100px;
}

.App h1 {
  font-size: 100px;
  margin: 0px;
}

.App button {
  margin-top: 15px;
  background-color: white;
  font-size: 20px;
  border: 1px solid black;
}

.close:hover {
  color: white;
  cursor: pointer;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-name: color_change;
}

@keyframes color_change {
  from {
    background-color: #645AFF;
  }
  to {
    background-color: #FF006A;
    ;
  }
}