.counter-container {
  display: flex;
}

.counter-container p {
  margin: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.key-container{
  display: flex;
  text-transform: capitalize;
}

.key-container .title {
  font-weight: 600;
}