.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  background-color: #2E3746;
  border-radius: 5px;
}

.item-container p {
  color: white;
  text-align: left;
  padding-left: 10px;
  text-transform: capitalize;
}

  .item-container select{
  height: 25px;
  margin-left: 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.key-container {
  display: flex;
  align-items: center;
}

.key-container .key {
  font-weight: 600;
  color: #f9af94;
}

.item-hidden {
  display: none;
  width: 100%;
}

.item-show {
  display: flex;
  flex-direction: column;
}

.name-container:hover {
  cursor: pointer;
}